<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>¡ Bienvenidxs a MercadoLiebre !</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/register.css">
        <script src="https://kit.fontawesome.com/8b42bf86c5.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <div class="top-header">
                <div class="logo">
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
                </div>
                
                <form action="#" method="GET">
                    <input type="text" name="busqueda" placeholder="Buscar...">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
                <p><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito </p>
            </div>

            <nav>
                <ul class="ul-nav">
                   <li><a href="#">Ofertas</a></li>
                   <li><a href="#">Tiendas oficiales</a></li>
                   <li><a href="#">Vender</a></li>
                   <li><a href="#">Ayuda</a></li>
                </ul>

                <ul class="ul-log">
                   <li><a href="/register">Crea tu cuenta </a><i class="far fa-id-card"></i></li>
                   <li><a href="/login">Ingresa </a><i class="fas fa-sign-in-alt"></i></li>
                   <li><a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header>
        
        <main class="main-register">
            <form action="/register" method="post" class="form-register">
              <div class="main-div">
                <input
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Nombre y apellido"
                  required
                  class="text"
                />
              </div>
              <div class="main-div">
                <input
                  type="text"
                  id="user"
                  name="user"
                  placeholder="Nombre de usuario"
                  required
                  class="text"
                />
              </div>
              <div class="main-div">
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="E-mail"
                  required
                  class="text"
                />
              </div>
              <h4>Fecha de nacimiento</h4>
              <div class="main-div">
                <input
                  type="date"
                  id="birth_date"
                  name="birth_date"
                  min="2000-09-29"
                  required
                  class="text"
                />
              </div>
              <div class="main-div">
                <input
                  type="text"
                  id="address"
                  name="address"
                  placeholder="Domicilio"
                  required
                  class="text"
                />
              </div>
              <h4>Perfil del usuario</h4>
              <div class="user-profile">
                <input type="radio" name="profile" id="seller" value="seller" />
                <label for="seller">Vendedor</label>
                <input type="radio" name="profile" id="buyer" value="buyer" checked />
                <label for="buyer">Comprador</label>
              </div>
              <h4>Intereses</h4>
              <div class="main-div">
                <input
                  type="checkbox"
                  name="interests"
                  id="electro"
                  value="electro"
                  class="interests"
                />
                <label for="electro">Electro</label>
                <br />
                <input
                  type="checkbox"
                  name="interests"
                  id="fashion"
                  value="fashion"
                  class="interests"
                />
                <label for="fashion">Moda</label>
                <br />
                <input
                  type="checkbox"
                  name="interests"
                  id="home"
                  value="home"
                  class="interests"
                />
                <label for="home">Hogar</label>
                <br />
                <input
                  type="checkbox"
                  name="interests"
                  id="toys"
                  value="toys"
                  class="interests"
                />
                <label for="toys">Juguetería</label>
                <br />
                <input
                  type="checkbox"
                  name="interests"
                  id="health"
                  value="health"
                  class="interests"
                />
                <label for="health">Vida sana</label>
              </div>
              <h4>Elegí tu foto de usuario</h4>
              <div class="main-div">
                <input
                  type="file"
                  name="profile-picture"
                  accept=".jpg, .png"
                  class="profileImage"
                />
              </div>
              <br />
              <div class="div-edit">
                <input
                  type="password"
                  name="pass"
                  id="pass"
                  placeholder="Elegí tu contraseña"
                  class="text"
                />
              </div>
              <br />
              <div class="main-div">
                <input
                  type="password"
                  name="pass_confirm"
                  id="pass_confirm"
                  placeholder="Confirma tu contraseña"
                  class="text"
                />
              </div>
              <br />
              <div class="main-div">
                <a href="/"><button type="submit" class="send-button">Enviar</button></a>
              </div>
              <br />
              <div class="main-div">
                <button type="reset" class="reset-button">Borrar</button>
              </div>
            </form>
          </main>


    </body>

    <footer>
            <section class="footer-article">
                <i class="fa-solid fa-credit-card"></i>
                <h3><strong>Pagá con tarjeta o en efectivo</strong></h3>
                <p>Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section class="footer-article">
                <i class="fa-solid fa-gift"></i>
                <h3><strong>Envio gratis desde $2.500</strong></h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
           
            <section class="footer-article">
                <i class="fa-solid fa-user-shield"></i>
                <h3><strong>Seguridad de principio a fin</strong></h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>

            <section class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</section>
    </footer>
</html>