.main-register {
    margin: auto;
    width: 90%;
    font-size: 14px;
  }
  
  .form-register {
    padding: 20px 0px;
  }
  
  .text {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  
  #email {
    margin-bottom: 0px;
  }
  
  #address {
    margin-bottom: 0px;
  }
  
  .main-div{
    margin-bottom: 15px;
  }
  
  h4 {
    font-size: 16px;
    margin: 15px 0px;
  }
  
  .user-profile input {
    width: 25%;
  }
  
  .interests {
    width: 10%;
    margin-bottom: 30px;
    margin-left: 10px;
  }
  
  #health {
    margin-bottom: 0px;
  }
  
  .profile-picture {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  
  .send-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: #0044aa;
  }
  
  .reset-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #aa0044;
  }