/* 
PALETA DE COLORES

Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

Se me rompio el codigo de la nav bar de tanto tocarlo y no pude solucionarlo. Ademas, no pude completar el ultimo desafio, no llegue con los tiempos. El resto esta completo. 
Tengan piedad ja
*/


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

/* 
HEADER 
*/

header {
    background-color: #EAC926;
}

div.top-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5%; 
}

header div.logo, 
header div.form{
    width: 50%;
}

header div.logo {
    padding: 10px;
}

header form {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 34%;
    flex-grow: 1;
    width: 100%;
    background-color: white;
    border-style: none;
    border-radius: 1em;
    padding-left: 5px;
    padding-right: 5px;
}

header form input {
    min-width: 0;
    width: 1%;
    flex: 1 1 auto;
    background-color: rgba(255,255,255,0);
    border-style: none;
    }

header form button {
    background-color: rgba(255,255,255,0);
    border-style: none;
    margin-right: 0.5em;
}

header form button i {
    color: lightgray;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

/* 
BARRA DE NAVEGACION 
*/

header nav {
    font-size: 12px;
    margin-left: 20px;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: #000;
}

.ul-log {
    padding: 20px 0px;
} 

/*
BURGER MENU 
*/

div.burger-menu {
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

/* 
MAIN SECTION 
*/

main {
    width: 90%;
    margin: 0 auto;
}

section.banner img {
    width: 100%;
}


main section article {
    background-color: #fff;
    margin: 10px 0px;
}

main section article img {
    width: 100%;
}

article div.main-article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 2px solid #ebebeb;
    padding: 15px;
    position: relative;
}

.price {
    font-size: 18px;
}

.discount, 
.descrip {
    font-size: 16px;
    font-weight: normal;
}

h3, 
.descrip {
    color: #666;
    padding: 10px 0px;
}

.descrip {
    display: none;
    margin-top: 20px;
}

main section h3 {
    margin: 20px 0px;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}


.article-wrap-description {
    display: flex;
    width: 100%;
}

.article-wrap-description .price {
    flex-grow: 0.3;
}

.article-wrap-description .discount {
    flex-grow: 0.7;
}

/* 
FOOTER 
*/

footer {
    background-color: #FFF;
    width: 100%;
    margin: auto; 
    padding-top: 30px;
}

footer h3 {
    font-size: 18px;
    padding: 2px;
}

.footer-article {
    text-align: center;
    color: #666;
    padding: 20px 45px;
}

.copyright {
    text-align: start;
    color: #666;
    font-size: 12px;
    padding: 30px 30px;
}

footer i {
    color: #1259c3;
    font-size: 24px;
    padding-bottom: 6px;
}

/*
MEDIA QUERIES
*/

/* CELULARES - SMARTPHONES */
@media (max-width: 360px){
    header nav {
        display: none;
    }
}

/* TABLETS - IPADS */
@media (min-width: 361px){
    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    .products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.products article {
        width: 45%;
    }

    .descrip {
        display: block;
    }

    .price,
    .discount{
        width: 50%;
    }

    .burger-menu {
        display: none;
    }

    header div.top-header{
        display: flex;
        flex-wrap: nowrap;
     }

 
      header div.top-header p{
         flex-direction: column;
         align-self: center;
     }   

     header nav {
        display: flex;
     }

     nav .ul-log {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 0.5;
    }

     nav .ul-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 0.5;
     }

     nav .ul-nav li{
        padding: 10px;
    }

     nav .ul-log li{
        padding: 10px;
    }
    
}

/* DESKTOP - ORDENADORES */
@media (min-width: 769px){
    main section div.products article {
        width: 22%;
    }
    
   
}