* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

header {
    background-color: #EAC926;
}

.precios {
    font-size: 18px;
}

.descuentos, .descrip {
    font-size: 16px; 
}

.burger-menu {
    text-align: center;
}

.burger-menu i{

}